---
layout: default-empty
title: "transitionelement archives"
permalink: /archives/index.html
---

<section class="row row-hero">
  <div class="strip-inner-wrapper">
    <div class="prefix-1 col-4 suffix-1">
      {% include header.html %}
    </div><!-- end pagenavigation -->

    <div class="col-6">
      <h2>Archives</h2>

      <h3>Categories</h3>

      {% for category in site.categories %}
      <h4 id="{{ category[0] }}-ref"><a href="{{ site.baseurl }}/archives/{{ category[0] | downcase }}">{{ category[0] }}</a></h4>
      <ul>
        {% for post in category[1] limit: 10 %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
      {% endfor %}

      <h3>Monthly archives</h3>

      <ul>
  {% for post in site.posts | strip_newlines %}
    {% capture currentyearmonth %}{{post.date | date: "%B %Y"}}{% endcapture %}
    {% capture currentyearmonthurl %}{{post.date | date: "/archives/%Y/%m/"}}{% endcapture %}
    {% if currentyearmonth != lastyearmonth %}
        <li><a href="{{ site.baseurl }}{{ currentyearmonthurl }}">{{ currentyearmonth }}</a></li>
      {% capture lastyearmonth %}{{currentyearmonth}}{% endcapture %}
    {% endif %}
  {% endfor %}
      </ul>

    </div><!-- end div col-6 -->
  </div>
</section>
