<notextile>
  <section class="p-strip row-comments">
    <div class="row">
      <div class="col-4 col-start-large-1">
        <h3>Comments</h3>
      </div>
      <div class="col-6">
        <ul>
          {% for comment in site.data.[include.commentfile] %}
          {% if comment.comment != null %}
          <li>
            <p>
              {{ comment.comment }}
            </p>
            <cite>{{ comment.author }} on {{ comment.date }}</cite>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </section><!--- /section-comments -->

  <section class="p-strip row-commentform">
    <div class="row">
      <div class="prefix-1 col-4 suffix-1">
        <h4>Add a comment</h4>
      </div>
      <div class="col-6">
        <form method="get" action="/cgi-bin/comments.cgi">
          <fieldset>
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="" />
            <label for="email">Email</label>
            <em>your email will not be displayed with the comment</em>
            <input type="email" id="email" name="email" value="" />
            <label for="comment-text">Comment</label>
            <textarea id="comment-text" name="comment"></textarea><br />
            <input type="submit" name="a" value="comment" class="p-button--brand" />
            <input type="hidden" name="page-id" value="{{ include.commentfile }}" />
          </fieldset>
        </form>
      </div>
    </div>
  </section><!--- /section-commentform -->
</notextile>
