<header>
  <div class="p-logo">
    <h1>
      <a href="/" accesskey="1">
        <img src="/assets/images/transitionelement_logo_whit.gif" width="150" height="150" alt="transitionelement" />
      </a>
    </h1>
  </div>

  <nav class="p-nav__nav">
    <ul class="p-nav__links">
      {% for category in site.categories %}{% unless category[0] == 'about' %}<li>
        <a class="p-nav__link" href="{{ site.baseurl }}/archives/{{ category[0] | replace: ' ', '-' | replace: '&-', '' | downcase }}">{{ category[0] }}</a>
      </li>{% endunless %}{% endfor %}
      <li>
        <a class="p-nav__link" href="{{ site.baseurl }}/archives">archives</a>
      </li>
      <li>
        <a class="p-nav__link" href="/info/colophon.html">about</a>
      </li>
    </ul>
  </nav>

  <div class="p-search">
    <form action="/cgi-bin/search.cgi" method="get">
      <fieldset>
        <input name="a" value="search" type="hidden">
        <input id="search" name="q" size="20"> <input value="Search" type="submit">
      </fieldset>
    </form>
  </div>
</header>
