body,
p,
li {
  font-family: helvetica, arial, serif;
}
p {
  margin-bottom: 1.75rem;
}

h2,
h3,
h4 {
  color: #333;
  font-family: "Oswald", helvetica, arial, serif;
  font-weight: inherit;
  line-height: 1.5em;
}

h2,
h2 > a {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.072em;
  line-height: 1.2;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
  word-spacing: 0.048em;
}

a {
  border: 0;

  &:link,
  &:visited {
    color: $color-brand;
  }

  &:hover {
    border-bottom: 1px solid $color-brand;
    transition: border-color 0.2s;
  }
}

.row-comments,
.row-commentform {
  background-color: $color-brand;
  color: $color-light;
}

.row,
.section {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.posted {
  background-color: $color-mid-light;
  display: block;
  margin: 1em 0 !important;
  padding: 0.5em;
  text-align: right;
  text-transform: uppercase;
  width: 100%;
}

// logo
.p-logo {
  margin-top: -5em;
  > h1 {
    text-align: right;
  }
}
// nav
.p-nav__nav {
  li {
    font-family: "Oswald", helvetica, arial, serif;
    text-align: right;
  }
}

//Search
.p-search {
  text-align: right;
  fieldset {
    background: none;
    border: 0;
    margin: 0;
    padding: 1em 0;
  }
  input[type="submit"] {
    display: none;
  }
}

// Meta data
.p_meta {
  text-align: right;
}

//book
.book_synopsis {
  margin: 2em 1em;
  font-style: italic;
}

//comments
.row-comments {
  h3 {
    color: $color-light;
  }
}

.row-commentform {
  h4 {
    color: $color-light;
  }
}

.inline-image {
  display: inline;
}
