img {
    /** max-width: calc(var(--grid-max-width) * 2 / 3);
    max-height: calc(var(--grid-max-width) * 2 / 3); **/
    height: auto;
    max-width: 100%;
    object-fit: scale-down;
    
}

/* lists */
ol, ul {
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-top: 0;
    padding-left: 1rem;
}
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
li {
    margin: 0;
    padding: 0;
}

/* links */
a:hover {
    border-bottom: 1px solid #4c70a0;
    transition: border-color .2s;
}
a:link, a:visited {
    color: #4c70a0;
}
a:visited {
    color: #5d7ea9;
}

/* headings */
h2, h2>a {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: .072em;
    line-height: 1.2;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    word-spacing: .048em;
}
h2, h3, h4 {
    color: #333;
    font-family: "Oswald", helvetica, arial, serif;
    font-weight: inherit;
    line-height: 1.5em;
}

/* navigation */
.nav-links {
    list-style: none;
    list-style-image: none;
}
.nav-link {
    font-family: "Oswald", helvetica, arial, serif;
    text-align: right;
    margin-bottom: 0;
    text-decoration: none;
}
.nav-link a:visited {
    color: #899499;
}

/* post */
.post-title {
    margin-top: 2em;
}
h3 {
    margin-top: 1em;
}
blockquote {
    font-family: Georgia, serif;
    font-style: italic;
    color: #333;
    margin: 20px 0;
    padding: 20px;
    border-left: 5px solid #ccc;
    background-color: #f7f7f7;
    quote-style: italic;
}
.box { 
    margin: 0; 
    padding: 2rem; 
    border: 1px solid #666;  
}

/* pagination */
.pagination {
    padding: 1em;
    width: 100%;
    display: inline-grid;
}
.pagination-text {
    padding: 1em;
    width: 15em;
}
.pagination-arrow {
    color: #666;
    font-size: 2em;
}
.pagination-previous {
    text-align: left;
    padding: 1em;
    margin-left: -1em;
}
.pagination-next {
    text-align: right;
    padding: 1em;
    margin-right: -1em;
}
.pagination-previous > .pagination-arrow, .pagination-previous > .pagination-text {
    float: left;
}
.pagination-next > .pagination-arrow, .pagination-next > .pagination-text {
    float: right;
}
.pagination-label, .pagination-title {
    display: block;
}
.pagination-label {
    font-size: small;
}
.pagination-title {
    font-weight: bold;
}
.pagination-previous:hover, .pagination-next:hover  {
    background-color: #f2f2f2;
    border-color: rgba(0, 0, 0, 0);
}

/* comments */
.comment-container {
    background-color: #4c70a0;
    color: #f7f7f7;
    display: block;
}

.comments {
    padding: 2em;
}
.comment-container h3, .comment-container h4 {
    color: #f7f7f7;
    text-align: right;
}

/* archive pages */
.posted {
    background-color: rgba(198, 212, 228, .56);
    display: block;
    margin: 1em 0 !important;
    padding: .5em;
    text-align: right;
    text-transform: uppercase;
    width: 100%;
}


/**
.p-article-pagination {
    display: flex;
    width: 100%;
}

.p-article-pagination__label, .p-article-pagination__title {
    color: #333;
    display: block;
    margin-top: 0;
    width: 100%;
}

.p-article-pagination__title {
    font-size: 1.25em;
}

.p-article-pagination__label {
    margin-bottom: .25rem;
}

.p-article-pagination__link--next::after, .p-article-pagination__link--previous::before {
    color: #666;
    content: "›";
    font-size: 2em;
    position: absolute;
}

.p-article-pagination__link--next, .p-article-pagination__link--previous {
    transition-duration: .1s;
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    border-radius: .125rem;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 300;
    justify-content: center;
    line-height: 1.5rem;
    margin: 0 1rem 1.2rem 0;
    padding: calc(0.4rem - 1px) 1rem;
    text-align: center;
    text-decoration: none;
    background-color: #fff;
    border-color: rgba(0, 0, 0, 0);
    color: #111;
    margin-top: 0;
    padding: 1rem;
    position: relative;
    width: 50%;
}

.p-article-pagination__link--previous {
    padding-left: 2.5rem;
    text-align: left;
}

.p-article-pagination__link--next {
    padding-right: 2.5rem;
    text-align: right;
}

.p-article-pagination__link--previous::before {
    left: .5rem;
    transform: scaleX(-1);
}

.p-article-pagination__link--next:last-child, .p-article-pagination__link--previous:last-child {
    margin-right: 0;
}

.p-article-pagination__link--next::after {
    right: .5rem;
}

.p-article-pagination__link--next:visited, .p-article-pagination__link--previous:visited {
    color: #111;
}

.p-article-pagination__link--next:hover, .p-article-pagination__link--previous:hover {
    background-color: #f2f2f2;
    border-color: rgba(0, 0, 0, 0);
}
**/


/* slides */

.slides {
  padding: 0;
  /** width: 605px;
  height: 605px;**/
  max-width: calc(var(--grid-max-width)* 2 / 3);
  min-height: calc(var(--grid-max-width)* .6);
  display: block;
  margin: 0 auto;
  position: relative;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
  top: 0;
  opacity: 0;
  /** width: 605px;
  height: 605px;
  width: calc(var(--grid-max-width)* 2 / 3);
  height: calc(var(--grid-max-width)* 2 / 3);**/
  object-fit: cover;
  display: block;
  position: absolute;
  transform: scale(0);
  transition: all .7s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
}

.nav label {
  width: 200px;
  height: 100%;
  display: none;
  position: absolute;

  opacity: 0;
  z-index: 9;
  cursor: pointer;

  transition: opacity .2s;

  color: #FFF;
  font-size: 156pt;
  text-align: center;
  line-height: 380px;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, .3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
  opacity: 1;

  transform: scale(1);

  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
width: 100%;
bottom: 9px;
height: 11px;
display: block;
position: absolute;
text-align: center;
}

.nav-dots .nav-dot {
top: -5px;
width: 11px;
height: 11px;
margin: 0 4px;
position: relative;
border-radius: 100%;
display: inline-block;
background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
cursor: pointer;
background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
background: rgba(0, 0, 0, 0.8);
}