---
layout: default-empty
---
<section class="p-strip">
  <div class="row">
    <div class="col-4 col-start-large-1">

      {% include header.html %}

      <div class="p_meta">
        <p class="post-meta">
          {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
        </p>

        <p>category:
          {% for category in page.categories %}<a href="{{ site.baseurl }}/archives/{{ category | replace: ' ', '-' | replace: '&-', ''  | downcase }}">{{ category }}</a>{% if page.next.categories %}, {% endif %} {% endfor %}
        </p>
      </div>

    </div>

    <article class="post-content col-6 col-start-large-6">
      <h2 class="post-title">{{ page.title }}</h2>
      {% if page.image %}
      <a href="{% if page.image contains 'googleusercontent' %}{% else %}{{ site.url }}{% endif %}{{ page.image  | remove:'-thumb' | remove:'_thumb' | escape }}">
        <img  src="{% if page.image contains 'googleusercontent' %}{% else %}{{ site.url }}{% endif %}{{ page.image  | remove:'-thumb' | remove:'_thumb' | escape }}" width="605" alt="" />
      </a>
      {% endif %}
      {{ content }}
    </article>

  </div>
</section>


<footer class="p-article-pagination">
  {% if page.previous.url %}
  <a class="p-article-pagination__link--previous" href="{{ page.previous.url }}">
    <span class="p-article-pagination__label">Previous</span>
    <span class="p-article-pagination__title">{{ page.previous.title }}</span>
  </a>
  {% endif %}
  {% if page.next.url %}
  <a class="p-article-pagination__link--next" href="{{ page.next.url }}">
    <span class="p-article-pagination__label">Next</span>
    <span class="p-article-pagination__title">{{ page.next.title }}</span>
  </a>
  {% endif %}
</footer>
