<header class="p-navigation" role="banner">
  <div class="p-navigation__logo">
    <a class="p-navigation__item" href="{{ site.baseurl }}/">transitionelement.com</a>
  </div>

  <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
  <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Menu</a>

  <nav class="p-navigation__nav">
    <span class="u-off-screen">
      <a href="#main-content">Jump to main content</a>
    </span>
    <div class="p-navigation__items">
      <a class="p-navigation__item" href="{{ site.baseurl }}/archives">Archives</a>
      <a class="p-navigation__item" href="#" onClick="document.getElementById('search-box').classList.toggle('is-open')">Search</a>
    </div>
  </nav>
</header>
<div id="search-box" class="col-5">
  <form action="/cgi-bin/search.cgi" method="get">
    <fieldset>
      <input name="a" value="search" type="hidden">
      <input id="search" name="q" size="40"> <input value="Search" type="submit">
    </fieldset>
  </form>
</div>
<div class="u-clearfix">&nbsp;</div>
