---
layout: default-empty
---
<div class="grid-container two-thirds">
  <div>

    {% include header_new.html %} 
  
      <div class="p_meta">
        <p class="post-meta">
          {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
        </p>

        <p>category:
          {% for category in page.categories %}<a href="{{ site.baseurl }}/archives/{{ category | replace: ' ', '-' | replace: '&-', ''  | downcase }}">{{ category }}</a>{% if page.next.categories %}, {% endif %} {% endfor %}
        </p>
      </div>

  </div><!-- /end 2/3 -->
  <div>

    <article>
      <h2 class="post-title">{{ page.title }}</h2>
      {% if page.image %}
      <a href="{% if page.image contains 'googleusercontent' %}{% else %}{{ site.url }}{% endif %}{{ page.image | escape }}">
        <img  src="{% if page.image contains 'googleusercontent' %}{% else %}{{ site.url }}{% endif %}{{ page.image  | escape }}" alt="lead image" />
      </a>
      {% endif %}
      {{ content }}
    </article>

  </div>
</div><!-- /grid-container two-thirds-->


<div class="grid-container thirds">

  <div></div>
  
  <div>
    {% if page.previous.url %}
    <div class="pagination">
      <a class="pagination-previous" href="{{ page.previous.url }}">
        <span class="pagination-arrow">‹</span>
        <div class="pagination-text">
          <span class="pagination-label">Previous</span>
          <span class="pagination-title">{{ page.previous.title }}</span>
      </div>
      </a>
    </div>
    {% endif %}
  </div>
  
  <div>
    {% if page.next.url %}
    <div class="pagination">
      <a class="pagination-next" href="{{ page.next.url }}">
        <span class="pagination-arrow">›</span>
        <div class="pagination-text">
          <span class="pagination-label">Next</span>
          <span class="pagination-title">{{ page.next.title }}</span>
        </div>
      </a>
    </div>
    {% endif %}
  </div>

</div><!-- /grid-container thirds -->

  <!-- comments -->
  {% include comments_new.html commentfile=page.commentfile %}