---
layout: default
---
<section class="row">
  <div class="strip-inner-wrapper">
    <div class="prefix-1 col-4 suffix-1">

      {% include header.html %}

      <p class="post-meta">
        {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
      </p>

      <p>category:
        {% for category in page.categories %}<a href="{{ site.baseurl }}/archives/{{ category | replace: ' ', '-' | downcase }}">{{ category }}</a>{{ if page.next.categories }}, {{ endif }} {% endfor %}
      </p>

      <div class="">
        {% if page.previous.url %}
        <p class="prev"><a class="prev_link" href="{{ site.baseurl }}/{{page.previous.url}}">&laquo;&nbsp;{{page.previous.title}}</a></p>
        {% endif %}
        {% if page.next.url %}
        <p class="next"><a class="next_link" href="{{ site.baseurl }}/{{page.next.url}}">{{page.next.title}}&nbsp;&raquo;</a></p>
        {% endif %}
      </div><!-- end pagenavigation -->
    </div>

    <article class="post-content col-6">
      <h2 class="post-title">{{ page.title }}</h2>
      {{ content }}
    </article>

  </div>
</section>
